 html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: 100%;
}

#wrap > .center-container {
	padding: 0 0 0 0;
	margin: 0;
}

.center-container {
	height: calc(100% - 52px);
}

.center-row {
	height: 100%;
	overflow-y: auto;
}

/* END MAIN PAGE */

/* START NAVBAR */
.text-navbar {
	font-size: 20px;
}

.navbar-brand {
	background-color: #FBC02D;
	padding: 0px 10px;
	font-size: 28px;
}

@media (max-width: 823px) /*and (min-width: 768px)*/ {
	.text-navbar {
		font-size: 16px;
	}

	.navbar-brand {
		background-color: #FBC02D;
		padding: 0px 10px;
		font-size: 24px;
	}
}

@media (max-width: 366px) {
	.text-navbar {
		font-size: 16px;
	}

	.navbar-brand {
		background-color: #FBC02D;
		padding: 0px 10px;
		font-size: 16px;
	}
}

.navbar {
	border: none;
	margin-bottom: 0px;
}

.navbar-brand > img {
	display: inline;
}

.container-fluid > .navbar-header {
	margin-right: 15px;
}
/* END NAVBAR */

/* START COLUMN FILTROS */
.col-filtros {
	background-color: #808080;
}

.header-filtros {
	background-color: #0db6cc;
	padding-top: 20px;
}

.header-filtros-text {
	color: white;
	text-align: center;
	padding: 0 10px 10px 10px;
	margin-top: 0px;
}

.header-filtros-text > h3 {
	margin-top: 0px;
}

.header-filtros-divider {
	background-color: #b1b1b1;
	height: 5px;
}

.body-filtros {
	height: 100%;
}

.body-filtros-title {
	color: #b1b1b1;
	padding-left: 10px;
}

.checkbox label {
	min-height: 20px;
	padding-left: 0px;
}

.slider-qtpd {
	border-radius: 0px;
	height: 10px;
	background-color: #c1dbe7;
	width: 100%;
}

.slider-qtpd-container {
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 10px;
}

.slider-qtpd-movil {
	border-radius: 0px !important;
	height: 30px !important;
	width: 15px !important;
	margin-top: -10px !important;
	border-color: #c1dbe7 !important;
	border-width: 4px !important;
	border-style: solid !important;
}

.slider-text {
	color: white;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}

@media (max-width: 823px) and (min-width: 768px) {
	.slider-text {
		color: white;
		font-size: 14px;
		margin-top: 12px;
		font-weight: bold;
		margin-left: 10px;
	}
}

.btn-buscar {
	background-color: #0DB6CC;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-buscar:hover {
	background-color: #0094ac;
}

.btn-buscar h2 {
	margin-top: 15px;
}

.btn-mapa-lista {
	background-color: #b6b6b6;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-mapa-lista:hover {
	background-color: #212121;
}

.btn-mapa-lista-glyph {
	margin-right: 10px;
}

.btn-ver-todos {
	background-color: #0a91a3;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-ver-todos:hover {
	background-color: #087482;
}

.filtros-divider {
	margin-top: 15px;
	background-color: #b1b1b1;
	height: 3px;
}

@media (max-width: 1299px) {
	.checkbox {
		color: white;
		font-size: 14px;
		padding-left: 10px;
	}
}

@media (min-width: 1300px) {
	.checkbox {
		color: white;
		font-size: 16px;
		padding-left: 10px;
	}
}

@media (max-width: 768px) {
	.col-filtros {
		height: 928px;
	}
}
/* END COLUMN FILTROS */

/* START COLUMN MAPA */
.col-mapa {
	background-color: white;
}

#map {
	height: 100%;
}
/* END COLUMN MAPA */

/* START DIRECCION */
.direccion {
	background-color: rgba(33, 33, 33, 0.75);
	color: #B1B1B1;
	position: absolute;
	top: 0px;
	border-style: solid;
	border-top: 0px;
	border-width: 3px;
}

.direccion-top {
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: normal;
	text-align: center;
}

.direccion-down {
	text-align: center;
}


.direccion-sm-xs {
	background-color: rgba(33, 33, 33, 1);
	color: #B1B1B1;
	border-style: solid;
	border-width: 3px;
	margin-top: 10px;
}
/* FIN DIRECCION */



/* START FOOTER */
.footer {
	background-color: rgba(33, 33, 33, 0.75);
	color: #B1B1B1;
	position: absolute;
	bottom: 0;
	border-style: solid;
	border-bottom: 0px;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	width: 422px;
}

@media (max-width: 768px) {
	.footer {
		background-color: rgba(33, 33, 33, 0.75);
		color: #B1B1B1;
		position: absolute;
		bottom: 0;
		border-style: solid;
		border-bottom: 0px;
		border-width: 3px;
		margin-left: auto;
		margin-right: auto;
		right: 0;
		left: 0;
		width: 310px;
	}
}

.footer-copyright {
	text-align: center;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.row-footer {
	padding-top: 5px;
}

.footer-social {
	padding-top: 8px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.btn-social-icon:hover {
	color: #fff;
}
/* END FOOTER */

/* START APARECER EN MAPA */

@media screen and (min-width: 800px) {
	#aparecer-en-mapa {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 220px;
		overflow: hidden;
		height: 220px;
		z-index: 9999;
	}
	
.labelClass{
    float: left;
    width: 113px;
  }	
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

#panelBusqueda {
	padding-left : 1.5%;
}
    	