 html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: 100%;
}

#wrap > .center-container {
	padding: 0 0 0 0;
	margin: 0;
}

.slider.slider-horizontal {
  width: 210px;
  height: 20px;
  margin-top: 5%; 
  margin-left: 2%;
}

.center-container {
	height: calc(100% - 52px);
}

.center-row {
	height: 100%;
	overflow-y: auto;
}

/* END MAIN PAGE */

/* START NAVBAR */
.text-navbar {
	font-size: 20px;
}

.navbar-brand {
	background-color: #FBC02D;
	padding: 0px 10px;
	font-size: 28px;
}

@media (max-width: 823px) /*and (min-width: 768px)*/ {
	.text-navbar {
		font-size: 16px;
	}

	.navbar-brand {
		background-color: #FBC02D;
		padding: 0px 10px;
		font-size: 24px;
	}
}

@media (max-width: 366px) {
	.text-navbar {
		font-size: 16px;
	}

	.navbar-brand {
		background-color: #FBC02D;
		padding: 0px 10px;
		font-size: 16px;
	}
}

.navbar {
	border: none;
	margin-bottom: 0px;
}

.navbar-brand > img {
	display: inline;
}

.container-fluid > .navbar-header {
	margin-right: 15px;
}
/* END NAVBAR */

/* START COLUMN FILTROS */
/* Color de bondo del panel filtros*/
.col-filtros {
	background-color: #808080;
}
/* estilo del header del panel filtros*/
.header-filtros {
	background-color: #0db6cc;
	padding-top: 20px;
	padding-left: 0px;
 	left: -5;
	   
}
/* css del texto del header del panel filtros */
.header-filtros-text {
	color: white;
	text-align: center;
	padding: 0 10px 10px 10px;
	margin-top: 0px;
}

.header-filtros-text > h3 {
	margin-top: 0px;
}
/* Barra que divide el header del */
.header-filtros-divider {
	background-color: #b1b1b1;
	height: 5px;
}

.body-filtros {
	height: 100%;
}
/* Titulo del body ("Busco") */
.body-filtros-title {
	color: #b1b1b1;
	padding-left: 10px;
	margin-left: 4.5%
}

.checkbox label {
	min-height: 20px;
	padding-left: 0px;
}


/*
@media (max-width: 823px) and (min-width: 768px) {
	.slider-text {
		color: white;
		font-size: 14px;
		margin-top: 12px;
		font-weight: bold;
		margin-left: 10px;
	}
}
*/
.btn-buscar {
	background-color: #0DB6CC;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-buscar:hover {
	background-color: #0094ac;
}

.btn-buscar h2 {
	margin-top: 15px;
}
/*
.btn-mapa-lista {
	background-color: #b6b6b6;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-mapa-lista:hover {
	background-color: #212121;
}

.btn-mapa-lista-glyph {
	margin-right: 10px;
}

.btn-ver-todos {
	background-color: #0a91a3;
	color: white;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.btn-ver-todos:hover {
	background-color: #087482;
}

.filtros-divider {
	margin-top: 15px;
	background-color: #b1b1b1;
	height: 3px;
}
*/
/* Estilos checkbox*/
@media (max-width: 1299px) {
	.checkbox {
		color: white;
		font-size: 14px;
		padding-left: 10px;
		margin-left: 7.5%;
	}
}

@media (min-width: 1300px) {
	.checkbox {
		color: white;
		font-size: 16px;
		padding-left: 10px;
	}
}

@media (max-width: 768px) {
	.col-filtros {
		height: 928px;
	}
	
}


@media screen and (max-width : 991px){

	
		.btn-buscar {
		background-color: #0DB6CC;
		color: white;
		text-align: center;
		margin-top: 20px;
		cursor: pointer;
		}
		
		.btn-buscar:hover {
			background-color: #0094ac;
		}
		
		.btn-buscar h2 {
			margin-top: 15px;
		}
	
	
		.col-lg-offset-3 {
		  margin-left: 12%;
		  margin-bottom: 5%;
		}
		
		.col-lg-6 {
		  width: 70%;
		  padding-left: 10px;
		}
	
		.button, input, select, textarea {
		  font-family: inherit;
		  font-size: inherit;
		  line-height: inherit;
		}
}


@media screen and (max-width : 991px){
	.labelClass{
		width:100% !important;;
		float:left;
	}
}
@media screen and (max-width : 901px){
	
	#labelMin{
		color: #FFF;
		font-size: 13px;
		width: 100%;
	}

	#labelMax{
		color: #FFF;
		font-size: 13px;
		width: 100%;
	}
}
@media screen and (max-width : 768px){
	.labelClass{
		width:25% !important;;
		float:left;
	}
	
	.filtro-centros\:barrio{
		max-width: 90%;
		margin-left: 8%;
	}
	
	#labelMin{
		color: #FFF;
		font-size: 13px;
		width: 25px;
	}

	#labelMax{
		color: #FFF;
		font-size: 13px;
		width: 25px;
	}
	.col-lg-6 {
		  width: 200px;
		  padding-left: 10px;
		}
	
	
}

@media screen and (max-width : 303px){
	
	    .col-lg-6 {
		  width: 75%;
		  padding-left: 10px;
		}
	
	
}
/* END COLUMN FILTROS */

/* START COLUMN MAPA */
.col-mapa {
	background-color: white;
}

#map {
	height: 100%;
}
/* END COLUMN MAPA */


/* START APARECER EN MAPA */

	
.labelClass{
    float: left;
    width: 25%; /*113px*/
  }	
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

#panelBusqueda {
	padding-left : 1.5%;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none !Important;
    position:   fixed !Important;
    z-index:    1000 !Important;
    top:        0 !Important;
    left:       0 !Important;
    height:     100% !Important;
    width:      100% !Important;
    background: rgba(0, 0, 0, 0.32) 
                url("/Inmo13/javax.faces.resource/defecto/img/ajax-loader.gif.xhtml") 
                50% 50% 
                no-repeat !Important;
}
.modal2 {
    display:    none !Important;
    position:   fixed !Important;
    z-index:    1000 !Important;
    top:        0 !Important;
    left:       0 !Important;
    height:     100% !Important;
    width:      100% !Important;
    background: rgba(0, 0, 0, 0.32) 
                url("/Inmo13/javax.faces.resource/defecto/img/ajax_loader_gray.gif.xhtml") 
                50% 50% 
                no-repeat !Important;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden !Important;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block !Important;
}

body.loading-puntosInteres {
    overflow: hidden !Important;   
}

body.loading-puntosInteres .modal2 {
    display: block !Important;
}

.olControlScaleLine {
   /* background: white;*/
    padding: 10px;

    /* Good browsers */
    opacity: 0.85;
}

#filtros-containter{
	margin-left: 5.5%;
}

#filtro-centros\:minimo {
	margin-left: 2%;	
}

#filtro-centros\:maximo{
	margin-left: 2%;	
}

#filtro-centros\:barrio{
	margin-left: 4%;
}
    	