html{ 
  background: url("#{resource['images:2.JPG']}") no-repeat center center fixed; 
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
}

.Label{
	
	float:left; 
	width:25%;
	margin-right:0.5em; 
	padding-top:0.2em; 
	text-align:right;  
	font-weight:bold;" 
	
	}

.ui-datalist-item{
	
	border:outset 5px #052607 !Important;
	
	
}
.ui-widget-content a{
	
	color:white !Important;
}

#canchita{
	
	height:100%;
	background: url("#{resource['images:canchafubol.jpg']}") ; 
    overflow-x:auto;
    background-position: 40% ; 
 	display: flex;
 	align-items: center;
    justify-content: space-between;

}

.fondo{
	width:100%;
	
}
.navbar{	
	
	background-color: rgba(55, 170, 206, 1) !Important;
	width:100%;
	height:15% !Important;	
	background: rgba(55, 170, 206, 1);
	color: rgba(55, 170, 206, 1);
	float:left;
}
.menu{
	background-color: rgba(55, 170, 206, 1) !Important;
	min-width:12% !Important;
	
}

.ui-layout-unit-content{
  background-color: rgba(55, 170, 206, 1) !Important;
}
.Content .ui-layout-unit-content{

 background-color: rgba(55, 170, 206, 1) !Important;
}

.ui-widget-content {
	
  background-color: rgba(9, 40, 12, 0.7) !Important;
  color: white !Important ;
}

.ui-menu {
	background:none !Important;
	background-color: rgba(9, 40, 12, 0.8) !Important;

}

.ui-menuitem-link{
		color: white !Important;
}

.ui-menuitem-link:hover{
	background:none !Important;
		background-color: rgba(0, 24, 0, 0.8) !Important;
		font-size: inherit;
		border:none;
}

.Container {
	width:100%;
	float:left;
}

.Content {
	width:85%;
	float:left;
	min-height: 500px;
}

.footer {
	width:100%;
	height:30px!Important;
	background-color: rgba(9, 40, 12, 0.9);
	color: rgba(255, 255, 255, 1);
	position:absolute;
	bottom:0;	
	float:left;
}

#map-canvas {
     height: 60%;
     width: 70%;
     margin: 0 auto;
     margin-top: 3%;   
     margin-bottom: 3%; 
     padding: 0px
}

#panel{
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
}


 #Selectable .ui-selecting { background: #707070 ; }
 #Selectable .ui-selected { background: #EEEEEE !Important; color: #707070 !Important; }
 #Selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
 #Selectable li {font-size: 50px; height: 100px;	line-height: 100px; margin-top: 5px;margin-bottom: }
 ui-widget-content {
 				
		            background: #cedc98;
		            border: 1px solid #DDDDDD;
		            color: #333333;
		          
         			}
         			
         			




.label-miequipo-key {
	font-family: Arbutus; <!-- Artifika -->
	color: #F2F2F2 !Important;
	font-size: 19px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #A1A1A1;
}

.label-miequipo-value {
	font-family:Architects Daughter;
	font-size: 18px
}

.div-welcome {
	margin-top: 10%;
	font-size: 500%;
	text-align: center !Important;
	width: 100% !Important;
	height: 70% !Important;
}

.div-empty {
	margin-top: 10%;
	font-size: 200%;
	text-align: center !Important;
	width: 100% !Important;
	height: 20% !Important;
}


.row-equipo {
	background-color: rgba(0, 0, 0, .25);
	border: 2px solid #8A8D8E;
}

/*ESTO ES PARA LA TABLA DE MI EQUIPO*/
.datagrid table {
	border-collapse: collapse;
	width: 100%;
}

.datagrid-container {
	width: 100%;
	text-align: center;
	margin-bottom: 3.8%;
}

.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	border: 2px solid #A9A9A9;
	width: 30%;
	margin: 0 auto;
	-webkit-box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 1);
	box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.51);
}

.datagrid table td, .datagrid table th {
	padding: 3px 0px;
}

.datagrid table thead th {
	
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F9096',
		endColorstr='#A5BCC4');
	background-color: #8E9293;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #61CF98;
	border-left: 1px solid #DBDBDB;
	font-size: 12px;
	font-weight: bold;
}

.datagrid table tbody .alt td {
	background: #EBEBEB;
	color: #A5BCC4;
}

.datagrid table tbody td:first-child {
	border-left: none;
	border-right: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

.datagrid table tfoot td div {
	border-top: 1px solid #A5BCC4;
	background: #EBEBEB;
}

.datagrid table tfoot td {
	padding: 0;
	font-size: 12px
}

.datagrid table tfoot td div {
	padding: 2px;
}

.datagrid table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.datagrid table tfoot  li {
	display: inline;
}

.datagrid table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #F5F5F5;
	border: 1px solid #A5BCC4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8A9CA3
		), color-stop(1, #A5BCC4));
	background: -moz-linear-gradient(center top, #8A9CA3 5%, #A5BCC4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A9CA3',
		endColorstr='#A5BCC4');
	background-color: #8A9CA3;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
	text-decoration: none;
	border-color: #A5BCC4;
	color: #F5F5F5;
	background: none;
	background-color: #A5BCC4;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
	position: fixed !important;
}



.ui-ring-item {
color:white !Important;
background: none !Important;
border: none !Important;
box-shadow: none !Important;
	
}
.ui-datalist-item{
	font-size: inherit!Important;
	
}

.texto-liga-finalizada {
font-family: Chenla;
color: rgba(255, 255, 255, 1);
font-size: 32px !important;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.div-liga-finalizada {
text-align: center;
margin-bottom: 1%;
}