html {
/*	background: url("#{resource['images:2.JPG']}") no-repeat center center fixed;
*/	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

.Label {
	float: left;
	width: 25%;
	margin-right: 0.5em;
	padding-top: 0.2em;
	text-align: right;
	font-weight: bold;
}

.ui-datalist-item {
	border: outset 5px #052607 !Important;
}

/* Para links */
.ui-widget-content a {
	color: white !Important;
}

div.oldMap {
  z-index: 0;
  padding: 0 !important;
  margin: initial;
  cursor: default;
  margin-left: -15px;
}

#canchita {
	height: 100%;
	overflow-x: auto;
	background-position: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fondo {
	width: 100%;
}

.navbar {
	background-color: rgba(55, 170, 206, 1) !Important;
	width: 100%;
	height: 15% !Important;
	background: rgba(55, 170, 206, 1);
	color: rgba(55, 170, 206, 1);
	float: left;
}

.menu {
	background-color: rgba(55, 170, 206, 1) !Important;
	min-width: 12% !Important;
}

.ui-layout-unit-content {
	background-color: rgba(55, 170, 206, 1) !Important;
}

.Content .ui-layout-unit-content {
	background-color: rgba(55, 170, 206, 1) !Important;
}

.ui-widget-content {
	background-color: rgba(38, 45, 39, 0.7) !Important;
	color: white !Important;
}

.ui-menu {
	background: none !Important;
	background-color: rgba(27, 31, 27, 0.8) !Important;
}

.ui-menuitem-link {
	color: white !Important;
}

.ui-menuitem-link:hover {
	background: none !Important;
	background-color: rgba(63, 73, 86, 0.9) !Important;
	font-size: inherit;
	border: none;
}

.Container {
	width: 100%;
	float: left;
}

.Content {
	width: 85%;
	float: left;
	min-height: 500px;
}

.footer {
	width: 100%;
	height: 30px !Important;
	background-color: rgba(9, 40, 12, 0.9);
	color: rgba(255, 255, 255, 1);
	position: absolute;
	bottom: 0;
	float: left;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#Selectable .ui-selecting {
	background: #707070;
}

#Selectable .ui-selected {
	background: #EEEEEE !Important;
	color: #707070 !Important;
}

#Selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#Selectable li {
	font-size: 50px;
	height: 100px;
	line-height: 100px;
	margin-top: 5px;
	margin-bottom:
}

ui-widget-content {
	background: #cedc98;
    border: 1px solid #5F7189;
	color: #333333;
}

.div-welcome {
	margin-top: 10%;
	font-size: 500%;
	text-align: center !Important;
	width: 100% !Important;
	height: 70% !Important;
}

.div-empty {
	margin-top: 10%;
	font-size: 200%;
	text-align: center !Important;
	width: 100% !Important;
	height: 20% !Important;
}


/***** */

a.linkMB {
  color: #4f4f4f !Important;
}
#irMBPropiedad {
	  color: #4f4f4f !Important;
}